pipeline/eypipeline.json
{
	"name": "eypipeline",
	"properties": {
		"activities": [
			{
				"name": "cloudtocloud",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "prod_cat_code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prod_cat_code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "prod_cat",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prod_cat",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "prod_sub_cat_code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prod_sub_cat_code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "prod_subcat",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prod_subcat",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "prodCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "srcSQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "demoLookup",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "cloudtocloud",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from product_category_subcategory where prod_cat_code=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "srcSQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "getdetails",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "demoLookup",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "delimitedSRC",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"contentMD5",
						"exists",
						"itemName",
						"itemType",
						"lastModified",
						"size",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filterDataActivity",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "demoLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('demoLookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().prod_sub_cat_code, 3)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}