adfeygm/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfeygm"
		},
		"azDbricksLinked_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'azDbricksLinked'"
		},
		"destADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'destADLS'"
		},
		"presentationADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'presentationADLS'"
		},
		"prodADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'prodADLS'"
		},
		"srcJsonADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'srcJsonADLS'"
		},
		"srcSQLDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'srcSQLDB'"
		},
		"azDbricksLinked_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0607-044521-ihknvvyp"
		},
		"destADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://databrickseystorage.dfs.core.windows.net/"
		},
		"presentationADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://databrickseystorage.dfs.core.windows.net/"
		},
		"prodADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://databrickseystorage.dfs.core.windows.net/"
		},
		"srcJsonADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://eystoragegm.dfs.core.windows.net/"
		},
		"srcRest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/pragyancloudtrainer/pragyanrepository/main/formula1ds/constructor_results.csv"
		},
		"srcSQLDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "demodbservergm.database.windows.net"
		},
		"srcSQLDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorksLT"
		},
		"srcSQLDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/foreachactivitypipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('filenames')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "readingfile",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "filename",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"filenames": {
						"type": "Array",
						"defaultValue": [
							"drivers.csv",
							"races.csv",
							"results.csv"
						]
					},
					"filename": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azDbricksLinked')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2655662354724726.6.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('azDbricksLinked_accessToken')]"
					},
					"existingClusterId": "[parameters('azDbricksLinked_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/destADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('destADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('destADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/presentationADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('presentationADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('presentationADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prodADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('prodADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('prodADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcJsonADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('srcJsonADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('srcJsonADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcRest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('srcRest_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcSQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('srcSQLDB_properties_typeProperties_server')]",
					"database": "[parameters('srcSQLDB_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('srcSQLDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('srcSQLDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbrickspipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SwitchNotebook",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.notebookname",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "basic_transform",
									"activities": [
										{
											"name": "Basic_Transformation",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": "/Users/cloudtraineracct@outlook.com/02_basic_transformation"
											},
											"linkedServiceName": {
												"referenceName": "azDbricksLinked",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "string_and_date",
									"activities": [
										{
											"name": "string_date",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": "/Users/cloudtraineracct@outlook.com/04_String_and_date"
											},
											"linkedServiceName": {
												"referenceName": "azDbricksLinked",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "sort_union",
									"activities": [
										{
											"name": "sort_union",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": "/Users/cloudtraineracct@outlook.com/05_Sort_union_aggregation_in_spark"
											},
											"linkedServiceName": {
												"referenceName": "azDbricksLinked",
												"type": "LinkedServiceReference"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"notebookname": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azDbricksLinked')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delimitedSRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "destADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "constructorId",
						"type": "String"
					},
					{
						"name": "constructorRef",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "nationality",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/destADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/demoRes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "srcRest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/srcRest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/destJsonADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "destADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/destADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/devParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "presentationADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-tid-6691442945164337936-1a713aff-5273-455b-97f1-0eae1587a76e-121-1.c000.snappy.parquet",
						"folderPath": "race_results",
						"fileSystem": "presentation"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "year",
						"type": "INT32"
					},
					{
						"name": "race_name",
						"type": "UTF8"
					},
					{
						"name": "race_date",
						"type": "DATE"
					},
					{
						"name": "location",
						"type": "UTF8"
					},
					{
						"name": "driver_number",
						"type": "UTF8"
					},
					{
						"name": "driver_nationality",
						"type": "UTF8"
					},
					{
						"name": "circuit_name",
						"type": "UTF8"
					},
					{
						"name": "grid",
						"type": "INT32"
					},
					{
						"name": "fastestLap",
						"type": "UTF8"
					},
					{
						"name": "time",
						"type": "UTF8"
					},
					{
						"name": "position",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/presentationADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prodCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "destADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Product_Category_Subcategory.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "prod_cat_code",
						"type": "String"
					},
					{
						"name": "prod_cat",
						"type": "String"
					},
					{
						"name": "prod_sub_cat_code",
						"type": "String"
					},
					{
						"name": "prod_subcat",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/destADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prodParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "prodADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-tid-4996125762288587425-39b971aa-54a4-4a6f-9026-971bb21d90a4-31-1.c000.snappy.parquet",
						"folderPath": "results",
						"fileSystem": "processed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "resultId",
						"type": "INT32"
					},
					{
						"name": "raceId",
						"type": "INT32"
					},
					{
						"name": "driverId",
						"type": "INT32"
					},
					{
						"name": "constructorId",
						"type": "INT32"
					},
					{
						"name": "number",
						"type": "UTF8"
					},
					{
						"name": "grid",
						"type": "INT32"
					},
					{
						"name": "position",
						"type": "UTF8"
					},
					{
						"name": "positionText",
						"type": "UTF8"
					},
					{
						"name": "positionOrder",
						"type": "INT32"
					},
					{
						"name": "points",
						"type": "DOUBLE"
					},
					{
						"name": "laps",
						"type": "INT32"
					},
					{
						"name": "time",
						"type": "UTF8"
					},
					{
						"name": "milliseconds",
						"type": "UTF8"
					},
					{
						"name": "fastestLap",
						"type": "UTF8"
					},
					{
						"name": "rank",
						"type": "UTF8"
					},
					{
						"name": "fastestLapTime",
						"type": "UTF8"
					},
					{
						"name": "fastestLapSpeed",
						"type": "UTF8"
					},
					{
						"name": "statusId",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/prodADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "srcJsonADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "fraud.json",
						"fileSystem": "democontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"WindowEnd": {
							"type": "string"
						},
						"FraudulentCalls": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/srcJsonADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "srcSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "product_category_subcategory"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/srcSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/eypipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cloudtocloud",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "prod_cat_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "prod_cat_code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "prod_cat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "prod_cat",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "prod_sub_cat_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "prod_sub_cat_code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "prod_subcat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "prod_subcat",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prodCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "srcSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "demoLookup",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "cloudtocloud",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from product_category_subcategory where prod_cat_code=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "srcSQL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "getdetails",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "demoLookup",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "delimitedSRC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount",
								"contentMD5",
								"exists",
								"itemName",
								"itemType",
								"lastModified",
								"size",
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "filterDataActivity",
						"type": "Filter",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "demoLookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('demoLookup').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().prod_sub_cat_code, 3)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/prodCSV')]",
				"[concat(variables('factoryId'), '/datasets/srcSQL')]",
				"[concat(variables('factoryId'), '/datasets/delimitedSRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getBLOB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "gettingBLOBFiles",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "delimitedSRC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "readingFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "gettingBLOBFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('gettingBLOBFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "readingInfo",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "filename",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"filename": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/delimitedSRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gettingDataFromDatabase')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "gettingData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select distinct region, country from [dbo].[EmployeeSales]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "srcSQL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "gettingData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('gettingData').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "setCountryValue",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Country",
										"value": {
											"value": "@item().Country",
											"type": "Expression"
										}
									}
								},
								{
									"name": "setRegionValue",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Region",
										"value": {
											"value": "@item().Region",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Country": {
						"type": "String"
					},
					"Region": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcSQL')]"
			]
		}
	]
}